.slide-enter-active,
.slide-leave-enter {
  transform: translateX(0);
  transition: all 0.8s ease-in-out;
}
.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}

.glide-enter-active,
.glide-leave-active {
  transition: transform 0.2s ease;
}

.glide-enter,
.glide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
